/*
 * Controllio · Open source web drafting table for studying control systems
 */

/*
 * View / Style / ElementAnalysisWindow
 */

/* Window */

.element-analysis-window {
  width: 380px;
  max-width: 100%;
  /* height: 400px; */
  max-height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  border-top: 1px solid var(--color-grey-200);
  border-left: 1px solid var(--color-grey-200);
  background-color: #fff;
  border-radius: 4px;
  z-index: 400;
  /* transition: width 0.25s; */
}

.element-analysis-window-maximized {
  width: 1100px;
}

.element-analysis-window-header {
  height: 30px;
  padding-right: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--color-grey-240);
}

.element-analysis-window-header h2 {
  margin: 0 0 0 10px;
  user-select: none;
  -webkit-user-select: none;
}

.element-analysis-window-header-button {
  width: 25px;
  height: 25px;
  background-color: var(--color-grey-240);
  border: 1px solid var(--color-grey-200);
  border-radius: 4px;
  cursor: pointer;
}

.element-analysis-window-header-button:hover {
  background-color: #fff;
}

/* to rotate the icon */
#element-analysis-window-minimize-button,
#element-analysis-window-maximize-button {
  transform: rotate(90deg);
}

.element-analysis-window-contents {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: left;
  /* gap: 8px; */
  overflow-y: auto;
}

.element-analysis-window-contents * {
  margin: 0;
}

/* Element info container */

.element-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.element-info-container form {
  width: 100%;
  display: flex;
  flex-basis: 150px;
  flex-grow: 10;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 5px;
}

.element-info-container form div {
  display: flex;
  flex-direction: row;
}

.element-info-container form div p {
  width: 60px;
  flex-shrink: 0;
  align-self: center;
}

/* Update element value input & button */

.update-element-value-input {
  flex-grow: 1;
}

.update-element-value-button {
  min-height: 25px;
  align-self: flex-end;
  background-color: #fff;
  border: 1px solid var(--color-grey-200);
  border-radius: 4px;
  cursor: pointer;
}

.update-element-value-button:hover {
  background-color: var(--color-grey-240);
}

/* Sampling T value container */

.sampling-t-input-container {
  width: 100%;
  display: flex;
  flex-basis: 60px;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 5px;
}

.element-info-container .sampling-t-input-container div {
  height: 22px;
  display: flex;
  gap: 5px;
}

.element-info-container .sampling-t-input-container div p {
  align-self: center;
}

.element-info-container .sampling-t-input-container #element-sampling-t-input {
  height: 16px;
  width: 45px;
  min-width: 45px;
  flex-grow: 0;
  padding: 2px;
  border: 1px gray solid;
  border-radius: 2px;
  text-align: right;
}

/* Plots containers/tabs */

.multiple-plots-container {
  display: flex;
  flex-direction: row;
}

.multiple-plots-container > section {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  /* max-width: 33.3%; */
}

.element-analysis-window-tab-contents {
  min-height: 390px;
  overflow-y: scroll;
}

.element-analysis-window-tab-contents > .tab-content {
  margin: 0;
}

/* Plots */

.plot-container {
  width: 100%;
}

.bode-subplot {
  width: 100%;
  height: 155px;
}

.nyquist-plot {
  width: 100%;
  max-width: 340px;
  height: 310px;
  margin-left: 5px;
}

.time-domain-subplot {
  width: 100%;
  height: 180px;
}

.bode-subplot .zoom-and-drag,
.nyquist-plot .zoom-and-drag,
.time-domain-subplot .zoom-and-drag {
  cursor: crosshair;
}

text {
  color: #000;
}

text.axis-label {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

/* Plot analysis containers */

#characteristic-numbers-container {
  /* width: 100%; */
  margin: -8px 0 10px 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#warning-banner {
  margin-top: -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#warning-banner i {
  font-size: 18px;
}

#characteristic-numbers-grid {
  display: grid;
  grid-template-columns: 2fr 7fr;
  /* font-size: 11px; */
}

#zeros-poles-and-stability-grid-container {
  /* width: 100%; */
  margin: 2px 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#zeros-poles-and-stability-grid-container.font-size-smaller {
  margin: 0 0 0 20px;
}

#zeros-poles-and-stability-grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 5px;
  align-items: center;
}

#zeros-poles-and-stability-grid div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.input-signal-radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.input-signal-radio-buttons label {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Zeros/poles symbols */

.symbol-open-loop-zero,
.symbol-closed-loop-zero {
  height: 10px;
  width: 10px;
  justify-content: center;
  text-align: center;
}

.symbol-open-loop-zero div {
  height: 3px;
  width: 3px;
  border: 1px red solid;
  border-radius: 3px;
  background-color: var(--color-red);
}

.symbol-closed-loop-zero div {
  height: 3px;
  width: 3px;
  border: 1px blue solid;
  border-radius: 3px;
  background-color: var(--color-blue);
}

.symbol-pole {
  width: 10px;
  text-align: center;
  font-size: 15px;
  color: green;
}
