/*
 * Controllio · Open source web drafting table for studying control systems
 */

/*
 * View / Style / PopupWindow
 */

.popup-window {
  width: 300px;
  max-width: 90%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-grey-200);
  border-radius: 4px;
  z-index: 500;
  display: flex;
  flex-direction: column;
}

.popup-window-large {
  width: 80%;
  max-width: 1024px;
  height: 80%;
  max-height: 640px;
}

@media (max-width: 480px) {
  .popup-window-large {
    width: 90%;
  }
}

.popup-window-header {
  height: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--color-grey-240);
}

.popup-window-header h2 {
  margin: 0 0 0 5px;
  user-select: none;
  -webkit-user-select: none;
}

.popup-window-close-button {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
  background-color: var(--color-grey-240);
  border: 1px solid var(--color-grey-200);
  border-radius: 4px;
  cursor: pointer;
}

.popup-window-close-button:hover {
  background-color: #fff;
}

.popup-window-contents-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-window-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border-radius: 4px;
  z-index: 200;
}

.popup-window-contents-subsection {
  width: 100%;
}

.popup-window-contents-subsection-header {
  padding: 8px 5px;
  background-color: var(--color-grey-248);
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.popup-window-selectable-content {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-window-selectable-content:hover {
  background-color: var(--color-grey-240);
}

.popup-window-selectable-content i {
  padding: 0 8px;
  font-size: 14px;
}

.popup-window-tab-contents h5 {
  font-size: 11px;
  margin: 0;
  padding-left: 1rem;
}

.popup-window-tab-contents .figure-description {
  font-style: italic;
}

/* Custom popup windows: tfs */

.popup-window-tf-content {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 6px;
}

.popup-window-tf-description {
  position: sticky;
  left: 90px;
  padding-left: 20px;
}

/* Custom popup windows: text */

.popup-window-text-content {
  width: 100%;
}

.popup-window-text-content p {
  margin: 15px;
}

.popup-window-text-content i {
  margin: 5px;
  font-size: 18px;
}

.popup-window-text-content button,
.popup-window-text-content label {
  height: 25px;
  min-width: 50px;
  margin: 15px 0 15px 0;
  min-height: 30px;
  background-color: #fff;
  border: 1px solid var(--color-grey-200);
  border-radius: 4px;
  cursor: pointer;
}

.popup-window-text-content label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-window-text-content button:hover,
.popup-window-text-content label:hover {
  background-color: var(--color-grey-240);
}

.popup-window-text-content input {
  text-align: end;
  margin: 0;
  margin-left: 10px;
  max-width: 120px;
}

.popup-window-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

tr {
  text-align: left;
}

th {
  min-width: 50px;
}

/* Custom popup windows: filter design */

.popup-window-text-content .input-radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.popup-window-text-content .input-radio-buttons input:hover {
  cursor: pointer;
}

.popup-window-text-content .input-radio-buttons label {
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: none;
}

.popup-window-text-content .input-radio-buttons label:hover {
  background-color: #fff;
  cursor: pointer;
}

.popup-window-text-content .flex-row-left p:first-of-type {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  text-align: right;
}

.popup-window-text-content .flex-row-left input {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

.popup-window-text-content .flex-row-left input:out-of-range,
.popup-window-text-content .flex-row-left input:invalid {
  outline: 1px solid red;
}

.popup-window-text-content select {
  margin-left: 10px;
}
